In [24]:
import pandas as pd
import datetime

In [25]:
AI_FP = pd.read_excel('Sample.xlsx', sheetname='AI FP Equity', index_col='Timestamp')
AI_FP.head()

                       Open   Close   Price  Volume
Timestamp
2018-01-02 08:00:00  105.00  105.05  105.05   15086
2018-01-02 08:01:00  105.10  105.00  105.00    2073
2018-01-02 08:02:00  104.90  104.70  104.70    3050
2018-01-02 08:03:00  104.65  104.80  104.80    1496
2018-01-02 08:04:00  104.80  104.70  104.70    3341

In [26]:
ALV_GR = pd.read_excel('Sample.xlsx', sheetname='ALV GR Equity', index_col='Timestamp')
ALV_GR.head()

                        Open    Close    Price  Volume
Timestamp
2018-01-02 07:00:00  192.010  192.200  192.200    2103
2018-01-02 07:01:00  192.300  192.180  192.180    1832
2018-01-02 07:03:00  191.945  191.945  191.945     500
2018-01-02 07:04:00  191.997  192.035  192.035    1300
2018-01-02 07:05:00  192.044  192.078  192.078     500

In [28]:
ALV_GR.index = ALV_GR.index + pd.Timedelta(hours=1)
ALV_GR.index

In [30]:
print(ALV_GR.shape)
print(AI_FP.shape)

(19781, 4)
(14758, 4)

In [56]:
# generate the index manually. Otherwise standard resampling methods would include all the 
# hours of the day! We do care only about trading hours and Business Days (freq='B')
index_date = pd.date_range('2018-01-02', '2018-02-15', freq='B')
index_date = pd.Series(index_date)
index_time = pd.date_range('08:00:00', '16:40:00', freq='1min')
index_time = pd.Series(index_time.time)

index = index_date.apply(
    lambda d: index_time.apply(
        lambda t: datetime.datetime.combine(d, t)
        )
    ).unstack().sort_values().reset_index(drop=True)

print(index.shape)

(17193,)

In [57]:
# reindex the Series with the newly generated index
ALV_GR = ALV_GR.reindex(index=index)

# interpolate to get the values for the NaNs
ALV_GR_interp = ALV_GR.interpolate(method='linear')
ALV_GR_interp.tail()

                       Open   Close   Price  Volume
2018-02-15 16:36:00  189.68  189.56  189.56  4032.0
2018-02-15 16:37:00  189.60  189.48  189.48  2224.0
2018-02-15 16:38:00  189.50  189.52  189.52  1531.0
2018-02-15 16:39:00  189.44  189.32  189.32  3591.0
2018-02-15 16:40:00  189.34  189.44  189.44   359.0

In [58]:
# reindex the Series with the newly generated index
AI_FP = AI_FP.reindex(index=index)

# interpolate to get the values for the NaNs
AI_FP_interp = AI_FP.interpolate(method='linear')
AI_FP_interp.tail()

                      Open  Close  Price    Volume
2018-02-15 16:36:00  101.0  101.0  101.0  520930.0
2018-02-15 16:37:00  101.0  101.0  101.0  520930.0
2018-02-15 16:38:00  101.0  101.0  101.0  520930.0
2018-02-15 16:39:00  101.0  101.0  101.0  520930.0
2018-02-15 16:40:00  101.0  101.0  101.0  520930.0

In [60]:
print(ALV_GR_interp.shape)
print(AI_FP_interp.shape)

(17193, 4)
(17193, 4)

In [62]:
ALV_GR_interp.join(AI_FP_interp, lsuffix='ALV', rsuffix='AI')

,OpenALV,CloseALV,PriceALV,VolumeALV,OpenAI,CloseAI,PriceAI,VolumeAI
2018-01-02 08:00:00,192.010000,192.20000,192.20000,2103.000000,105.00,105.05,105.05,15086.0
2018-01-02 08:01:00,192.300000,192.18000,192.18000,1832.000000,105.10,105.00,105.00,2073.0
2018-01-02 08:02:00,192.122500,192.06250,192.06250,1166.000000,104.90,104.70,104.70,3050.0
2018-01-02 08:03:00,191.945000,191.94500,191.94500,500.000000,104.65,104.80,104.80,1496.0
2018-01-02 08:04:00,191.997000,192.03500,192.03500,1300.000000,104.80,104.70,104.70,3341.0
2018-01-02 08:05:00,192.044000,192.07800,192.07800,500.000000,104.70,104.60,104.60,1654.0
2018-01-02 08:06:00,192.086000,192.22400,192.22400,400.000000,104.60,104.50,104.50,4394.0
2018-01-02 08:07:00,192.500000,192.26000,192.26000,698.000000,104.45,104.35,104.35,7482.0
2018-01-02 08:08:00,192.315500,192.19550,192.19550,499.000000,104.25,104.10,104.10,5873.0
2018-01-02 08:09:00,192.131000,192.13100,192.13100,300.000000,104.10,104.20,104.20,3673.0
2018-01-02 08:10:00,192.137000,192.14000,192.14000,25.000000,104.20,104.45,104.45,3247.0
2018-01-02 08:11:00,192.134400,192.13680,192.13680,20.000000,104.45,104.45,104.45,39.0
2018-01-02 08:12:00,192.131800,192.13360,192.13360,15.000000,104.35,104.35,104.35,1390.0
2018-01-02 08:13:00,192.129200,192.13040,192.13040,10.000000,104.30,104.30,104.30,2227.0
2018-01-02 08:14:00,192.126600,192.12720,192.12720,5.000000,104.30,104.30,104.30,650.0
2018-01-02 08:15:00,192.124000,192.12400,192.12400,0.000000,104.30,104.30,104.30,1181.0
2018-01-02 08:16:00,192.042000,192.04200,192.04200,0.000000,104.30,104.30,104.30,3324.0
2018-01-02 08:17:00,192.240000,192.24000,192.24000,50.000000,104.30,104.35,104.35,678.0
2018-01-02 08:18:00,192.012000,192.01900,192.01900,0.000000,104.30,104.25,104.25,1199.0
2018-01-02 08:19:00,191.984000,191.97100,191.97100,0.000000,104.25,104.20,104.20,2173.0
2018-01-02 08:20:00,191.984000,191.96000,191.96000,0.000000,104.20,104.20,104.20,3164.0
2018-01-02 08:21:00,192.012000,192.01200,192.01200,180.000000,104.15,104.20,104.20,4339.0
2018-01-02 08:22:00,192.075000,192.08000,192.08000,235.000000,104.20,104.10,104.10,6726.0
2018-01-02 08:23:00,192.059667,192.06300,192.06300,187.333333,104.15,104.20,104.20,550.0
2018-01-02 08:24:00,192.044333,192.04600,192.04600,139.666667,104.20,104.30,104.30,895.0
2018-01-02 08:25:00,192.029000,192.02900,192.02900,92.000000,104.20,104.20,104.20,1441.0
2018-01-02 08:26:00,191.921000,191.92100,191.92100,0.000000,104.15,103.95,103.95,9495.0
2018-01-02 08:27:00,191.915750,191.91575,191.91575,0.000000,104.00,104.00,104.00,902.0
2018-01-02 08:28:00,191.910500,191.91050,191.91050,0.000000,103.95,103.95,103.95,2725.0
2018-01-02 08:29:00,191.905250,191.90525,191.90525,0.000000,103.95,103.90,103.90,5716.0
...,...,...,...,...,...,...,...,...
2018-02-15 16:11:00,188.780000,188.98000,188.98000,5880.000000,101.15,101.20,101.20,198.0
2018-02-15 16:12:00,189.040000,188.90000,188.90000,2377.000000,101.20,101.25,101.25,5126.0
2018-02-15 16:13:00,188.880000,188.90000,188.90000,899.000000,101.25,101.25,101.25,5563.0
2018-02-15 16:14:00,188.940000,188.96000,188.96000,2811.000000,101.25,101.25,101.25,1102.0
2018-02-15 16:15:00,188.980000,189.04000,189.04000,3877.000000,101.30,101.35,101.35,1990.0
2018-02-15 16:16:00,189.040000,189.08000,189.08000,5075.000000,101.30,101.20,101.20,4841.0
2018-02-15 16:17:00,188.860000,189.06000,189.06000,3550.000000,101.25,101.30,101.30,281.0
2018-02-15 16:18:00,189.080000,189.04000,189.04000,5531.000000,101.30,101.30,101.30,709.0
2018-02-15 16:19:00,189.020000,189.22000,189.22000,8581.000000,101.30,101.20,101.20,2577.0
2018-02-15 16:20:00,189.280000,189.30000,189.30000,5479.000000,101.20,101.15,101.15,863.0
2018-02-15 16:21:00,189.300000,189.34000,189.34000,1917.000000,101.20,101.20,101.20,2908.0
2018-02-15 16:22:00,189.300000,189.32000,189.32000,7515.000000,101.20,101.20,101.20,1129.0
2018-02-15 16:23:00,189.240000,189.46000,189.46000,5651.000000,101.20,101.20,101.20,1364.0
2018-02-15 16:24:00,189.460000,189.38000,189.38000,939.000000,101.20,101.10,101.10,3902.0
2018-02-15 16:25:00,189.380000,189.40000,189.40000,1039.000000,101.10,101.05,101.05,4066.0
2018-02-15 16:26:00,189.440000,189.54000,189.54000,819.000000,101.05,101.10,101.10,390.0
2018-02-15 16:27:00,189.560000,189.56000,189.56000,5713.000000,101.10,101.10,101.10,615.0
2018-02-15 16:28:00,189.540000,189.62000,189.62000,1522.000000,101.10,101.10,101.10,3693.0
2018-02-15 16:29:00,189.660000,189.56000,189.56000,4974.000000,101.15,101.10,101.10,4258.0
2018-02-15 16:30:00,189.580000,189.68000,189.68000,3031.000000,101.12,101.08,101.08,107592.4
2018-02-15 16:31:00,189.680000,189.70000,189.70000,2867.000000,101.09,101.06,101.06,210926.8
2018-02-15 16:32:00,189.720000,189.62000,189.62000,1371.000000,101.06,101.04,101.04,314261.2
2018-02-15 16:33:00,189.620000,189.58000,189.58000,3132.000000,101.03,101.02,101.02,417595.6
2018-02-15 16:34:00,189.600000,189.72000,189.72000,3392.000000,101.00,101.00,101.00,520930.0
2018-02-15 16:35:00,189.720000,189.70000,189.70000,1149.000000,101.00,101.00,101.00,520930.0
2018-02-15 16:36:00,189.680000,189.56000,189.56000,4032.000000,101.00,101.00,101.00,520930.0
2018-02-15 16:37:00,189.600000,189.48000,189.48000,2224.000000,101.00,101.00,101.00,520930.0
2018-02-15 16:38:00,189.500000,189.52000,189.52000,1531.000000,101.00,101.00,101.00,520930.0
2018-02-15 16:39:00,189.440000,189.32000,189.32000,3591.000000,101.00,101.00,101.00,520930.0
2018-02-15 16:40:00,189.340000,189.44000,189.44000,359.000000,101.00,101.00,101.00,520930.0

# Load Bloomberg data from Excel

In [161]:
data4 = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet4', index_col='Timestamp')
data5 = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet5', index_col='Timestamp')
data6 = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet6', index_col='Timestamp')
data7 = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet7', index_col='Timestamp')
data8 = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet8', index_col='Timestamp')
data9 = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet9', index_col='Timestamp')
data10 = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet10', index_col='Timestamp')
data11 = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet11', index_col='Timestamp')
data12 = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet12', index_col='Timestamp')
data13 = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet13', index_col='Timestamp')
data14 = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet14', index_col='Timestamp')
data15 = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet15', index_col='Timestamp')

In [162]:
# align the timezone
data5.index = data5.index + pd.Timedelta(hours=1)
data13.index = data13.index + pd.Timedelta(hours=1)
data14.index = data14.index + pd.Timedelta(hours=1)
data15.index = data15.index + pd.Timedelta(hours=1)

In [163]:
# more data
data = dict()

j = 0
for i in range(0, 107, 3):
    data[j] = pd.read_excel('BloombergDataCleaned.xlsm', sheetname='Sheet0', parse_cols=[i,i+1], index_col=0)
    # drop nan
    data[j].dropna(inplace=True)
    # reindex to align the timezone
    if data[j].index[0].time().hour == 7:
        data[j].index = data[j].index + pd.Timedelta(hours=1)
    j = j+1

In [ ]:
'''# reindex to align the timezone
data[3].index = data[3].index + pd.Timedelta(hours=1)
data[5].index = data[5].index + pd.Timedelta(hours=1)
data[6].index = data[6].index + pd.Timedelta(hours=1)
data[10].index = data[10].index + pd.Timedelta(hours=1)
data[18].index = data[18].index + pd.Timedelta(hours=1)
data[22].index = data[22].index + pd.Timedelta(hours=1)
data[25].index = data[25].index + pd.Timedelta(hours=1)
'''
# you could also do it dynamically using 
''' 
for i in range(0, 36):
    if data[i].index[0].time().hour == 7:
        data[i].index = data[i].index + pd.Timedelta(hours=1)
'''

In [164]:
# generate the index manually. Otherwise standard resampling methods would include all the 
# hours of the day! We do care only about trading hours and Business Days (freq='B')
index_date = pd.date_range('2018-01-02', '2018-02-15', freq='B')
index_date = pd.Series(index_date)
index_time = pd.date_range('08:00:00', '16:40:00', freq='1min')
index_time = pd.Series(index_time.time)

index = index_date.apply(
    lambda d: index_time.apply(
        lambda t: datetime.datetime.combine(d, t)
        )
    ).unstack().sort_values().reset_index(drop=True)

print(index.shape)

(17193,)

In [165]:
# reindex the Series with the newly generated index
data4 = data4.reindex(index=index)
data5 = data5.reindex(index=index)
data6 = data6.reindex(index=index)
data7 = data7.reindex(index=index)
data8 = data8.reindex(index=index)
data9 = data9.reindex(index=index)
data10 = data10.reindex(index=index)
data11 = data11.reindex(index=index)
data12 = data12.reindex(index=index)
data13 = data13.reindex(index=index)
data14 = data14.reindex(index=index)
data15 = data15.reindex(index=index)

# interpolate to get the values for the NaNs
data4 = data4.interpolate(method='linear')
data5 = data5.interpolate(method='linear')
data6 = data6.interpolate(method='linear')
data7 = data7.interpolate(method='linear')
data8 = data8.interpolate(method='linear')
data9 = data9.interpolate(method='linear')
data10 = data10.interpolate(method='linear')
data11 = data11.interpolate(method='linear')
data12 = data12.interpolate(method='linear')
data13 = data13.interpolate(method='linear')
data14 = data14.interpolate(method='linear')
data15 = data15.interpolate(method='linear')

In [ ]:
# move everything into a single dictionary
data[36] = data4
data[37] = data5
data[38] = data6
data[39] = data7
data[40] = data8
data[41] = data9
data[42] = data10
data[43] = data11
data[44] = data12
data[45] = data13
data[46] = data14
data[47] = data15

In [228]:
# create an empty df indexed like my data
data_open = pd.DataFrame(index=index)

# join all the dictionary items into one single df
for k in data.keys():
    data_open = data_open.join(data[k])
print(data_open.shape)

(17193, 48)

In [229]:
# save the data into a csv file 
data_open.to_csv('closing_prices_cleaned.csv')

# End of data preparation